In [24]:
A=["Kunal","Hinge","Male","Student"]
B=["9110","TYBSc","B","Sir Parshurambhau College"]

In [25]:
tuple(A)

('Kunal', 'Hinge', 'Male', 'Student')

In [26]:
tuple(B)

('9110', 'TYBSc', 'B', 'Sir PArshurambhau College')

In [27]:
a=('Kunal', 'Hinge', 'Male', 'Student')
b=('9110', 'TYBSc', 'B' , 'Sir Parshurambhau College')

print(type(a))

print(a)
print(a[:3])
print(a[2:])
print(a[3])
print(a[:2])
print(a[1:2])
print(b,"\n")

<class 'tuple'>
('Kunal', 'Hinge', 'Male', 'Student')
('Kunal', 'Hinge', 'Male')
('Male', 'Student')
Student
('Kunal', 'Hinge')
('Hinge',)
('9110', 'TYBSc', 'B', 'Sir Parshurambhau College')

In [28]:
for j in a:
    print(j)

Kunal
Hinge
Male
Student

In [22]:

if "TYBSc" in b:
    print("Kunal is in TYBSc")

Kunal is in TYBSc

In [30]:
c=tuple("Pune")
a+b+c

('Kunal',
 'Hinge',
 'Male',
 'Student',
 '9110',
 'TYBSc',
 'B',
 'Sir Parshurambhau College',
 'P',
 'u',
 'n',
 'e')