In [1]:
# Question 1
def reverse_string(str):  
    Rev = ""   
    for i in str:  
        Rev = i + Rev  
    return Rev    
     
str = "Kunal"         
print("The original string is: ",str)  
print("The reverse string is",reverse_string(str))

The original string is:  Kunal
The reverse string is lanuK

In [2]:
# Question 2
Choice1=(int)(input("\n\t Enter your 1st number: "))
Choice2=(int)(input("\n\t Enter your 2st number: "))
Choice3=(int)(input("\n\t Enter your 3st number: "))
Choice4=(int)(input("\n\t Enter your 4st number: "))
print("Maximum number is: ",max(Choice1,Choice2,Choice3,Choice4))
print("Minimum number is:",min(Choice1,Choice2,Choice3,Choice4))

	 Enter your 1st number: 10

	 Enter your 2st number: 21

	 Enter your 3st number: 11

	 Enter your 4st number: 9
Maximum number is:  21
Minimum number is: 9

In [3]:
# Question 3
Choice1=(int)(input("\n\t Enter your 1st number: "))
Choice2=(int)(input("\n\t Enter your 2st number: "))
Choice3=(int)(input("\n\t Enter your 3st number: "))
Choice4=(int)(input("\n\t Enter your 4st number: "))
Choice=[Choice1,Choice2,Choice3,Choice4]
print("Addition of number is: ",sum(Choice))

	 Enter your 1st number: 1

	 Enter your 2st number: 2

	 Enter your 3st number: 3

	 Enter your 4st number: 4
Addition of number is:  10

In [2]:
# Question 4
def P1():
    P=12
    Q="Kunal"
    R=14
print(P1.__code__.co_nlocals)

3

In [4]:
# Question 5
Even=[25,46,85,35,43,26,34,92]

for Num in Even:
    if Num %2==0:
        print(Num)

46
26
34
92